<br><br>

<div class="container">
<h2>Viewing Tasks for Today &nbsp;&nbsp;( {{date}} )</h2>
<options></options>
</div>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Sr No</th>
    <th scope="col">Job Creation Date</th>
    <th scope="col">Site Name</th>
    <th scope="col">Area</th>
    <th scope="col">Work Type</th>
    <th scope="col">Work Name</th>
 <th scope="col">Agency</th>
 <th scope="col">Start Date</th>
 <th scope="col">End Date</th>
 <th scope="col">Masons</th>
 <th scope="col">Labour</th>
 <th scope="col">Status</th>  

</tr>
  </thead>
  <tbody>







  </tbody>
</table>





<router-outlet></router-outlet>
